@import url(./_variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-background);
    font-family: var(--font-main);
    overflow-x: hidden;
}

/* Mobile First Styles */
.header {
    position: relative;
    height: 56px;
}

.header-section {
    height: fit-content;
    padding: 20px 30px 0;
}

.uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.font-title {
    font-family: var(--font-title);
}

.title-color {
    color: var(--title-color);
}

.content-wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.w-full {
    width: 100%;
}

.d-none {
    display: none;
}

.logo {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 100%;
}

.header-nav {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    background-color: var(--main-background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 1000;
}

.header-nav__open {
    transform: translateX(0);
}

.burger-menu {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 1001;
}

.main-menu {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 100%;
    text-align: center;
}

.main-menu li {
    margin: 1.5rem 0;
}

.main-menu a {
    color: var(--title-color);
    transition: color 0.3s;
}

.main-menu a:hover {
    color: var(--btn-color);
}

.main-menu-registration {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
    text-align: center;
    margin-top: 1rem;
}

.main-menu-registration li {
    margin: 1.5rem 0;
}

.main-login-link {
    color: var(--title-color);
}

.main-login-link:hover {
    color: var(--main-color);
}

.btn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--btn-font-color);
    background-color: var(--btn-color);
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--btn-hover-color);
}

.btn__header {
    padding-left: 30px;
    padding-right: 30px;
}

.btn__sale {
    padding-left: 40px;
    padding-right: 40px;
}


.hero-image-container {
    background-color: var(--main-page-image-background);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 35px;
}

.hero-image-container {
    display: none;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    position: relative;

}

.hero-tag {
    font-size: 3rem;
    color: var(--title-color);
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;
}

.hero-tag span {
    margin-top: 20px;
    font-size: 5rem;
    color: var(--hero-tag-span-color);
    -webkit-text-stroke: 1px rgb(59, 58, 58);
    display: block;
}

.hero-title {
    font-size: 1rem;
    font-weight: 400;
    margin: 30px 0px 20px 0px;
    line-height: 100%;
    color: var(--hero-title-color);
}

.hero-button {
    display: flex;
    justify-content: center;
}

.hero-section-logos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 82px 30px;
    width: 100%;
    gap: 30px;
    max-width: 1280px;
    margin: 0 auto;
}

.hero-logo:nth-child(odd) {
    align-self: flex-start;
}

.hero-logo:nth-child(even) {
    align-self: flex-end;
}

.hero-logo {
    width: auto;
    object-fit: contain;
}

main {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: var(--title-color);
}

.regular-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--regular-text-color);
}

.season-deal {
    background: linear-gradient(180deg, var(--main-background) 0%, var(--secondary-background) 100%);
}

.season-wrapper {
    padding: 30px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.btn-season {
    margin: 40px 0 50px;
}

.deal-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-container h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: var(--title-color);
}

.time-box,
.timer-container {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.timer-wrapper {
    display: flex;
    gap: 30px;
}

.time-box {
    text-align: center;
}

.time-box .time {
    border-radius: 10px;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: var(--title-color);
    font-family: var(--font-digital);
    padding: 20px 12px;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
}

.swiper {
    gap: 16px;
    display: none;
}

.swiper .swiper-arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 17px 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.time-box .time-gap {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: var(--title-color);
}

.deal-gallery {
    display: none;
    gap: 30px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--main-background) var(--regular-text-color);
    white-space: nowrap;
    max-width: 100%;
}

.progress-galery {
    position: absolute;
    bottom: 10px;
    left: 440px;
    display: none;
    gap: 16px;
    width: fit-content;
}

.progress-galery div {
    position: relative;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--promotion-bg);
}

.progress-galery .progress-highlight {
    background-color: var(--main-color);
}

.progress-highlight::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.sale-box {
    padding: 32px 42px 32px 26px;
    position: absolute;
    bottom: 80px;
    left: 44px;
    background-color: var(--main-background);
}

.sale-name {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.dash {
    width: 27px;
    height: 1px;
    background-color: var(--title-color);
}

.sale {
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: var(--title-color);
}

.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 0 30px;
}

.new-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.new-card {
    background-color: var(--main-background);
    border-radius: 10px;
    padding: 15px 25px 35px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 12px;
    width: 250px;
    box-shadow: 0px 40px 90px rgba(0, 0, 0, 0.06);
}

.new-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.product-info-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.product-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: var(--title-color);
}

.amount-reviews,
.product-producer {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.product-producer {
    color: var(--regular-text-color);
}

.amount-reviews {
    color: var(--title-color);
}

.new-price-box {
    display: flex;
    justify-content: space-between;
}

.price {
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: var(--title-color);
}

.availability {
    font-weight: 400px;
    font-size: 12px;
    line-height: 20px;
    color: var(--availability-text-color);
}

.new-card:nth-of-type(n+4) {
    display: none;
}

main .promotion {
    padding: 0;
}

.promotion-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--promotion-bg);
}

.bg-promotion {
    width: 100%;
}

.promotion-wrapper .text-box {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.size-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

.promotion-size {
    border-radius: 10px;
    padding: 6px 20px;
    background-color: var(--btn-color);
    color: var(--btn-font-color);
}

.promotion-price {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: var(--main-color);
}

.promotion-price span {
    font-size: 24px;
}

.description {
    text-decoration: underline;
    text-transform: uppercase;
}

.advantage-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.advantages-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 30px 30px;
    justify-items: center;
}

.advantage-card {
    gap: 20px;
}

.advantage-text-box h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: var(--title-color);
}

.advantage-text-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--title-color);
}

.text-box,
.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
}

.promotion-text-box {
    align-items: flex-start;
    text-align: left;
}

.instagram {
    gap: 50px;
}

.instagram .regular-text {
    width: 50%;
}

.instagram-gallery {
    display: flex;
    align-items: center;
}

.instagram-gallery img {
    width: 33.3334%;
    object-fit: cover;
}

.instagram-gallery img:nth-of-type(n + 4) {
    display: none;
}

.instagram-gallery img:nth-of-type(odd) {
    height: 300px;
}

.instagram-gallery img:nth-of-type(even) {
    height: 380px;
}

.reviews {
    background-color: var(--secondary-background);
    width: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.carousel-container {
    position: relative;
    height: 500px;
    perspective: 1000px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 250px;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

.reviews-btn-container,
.review-card:nth-of-type(odd) {
    display: none;
}

.review-card {
    position: absolute;
    width: 250px;
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    backface-visibility: hidden;
    transition: all 0.8s ease;
}

.review-card.active {
    transform: translateZ(0px) scale(1);
    z-index: 3;
    opacity: 1;
}

.review-card.prev {
    transform: translateX(-35%) translateZ(-100px) scale(0.85);
    z-index: 2;
    opacity: 0.9;
}

.review-card.next {
    transform: translateX(35%) translateZ(-100px) scale(0.85);
    z-index: 1;
    opacity: 0.9;
}

.review-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.reviewer-photo {
    width: 70%;
    box-shadow: -15px 15px 0 #d9d9d9;
}

.review-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: var(--title-color);
    font-family: var(--font-main);
}

.review-stars {
    width: 95px;
}

.review-autor-container {
    border-top: 1px solid var(--title-color);
    padding-top: 10px;
}

.reviewer-name {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: var(--title-color);
    font-family: var(--font-title);
}

.reviewer-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--title-color);
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.reviews-btn-container {
    gap: 16px;
    margin-top: 120px;
}

.nav-btn {
    background: var(--main-background);
    padding: 17px 21px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.nav-btn:hover {
    background: --btn-hover-color;
    color: white;
}

.prev {
    left: -70px;
}

.next {
    right: -70px;
}

.subscribe {
    display: grid;
    padding: 60px 30px;
}

.subscribe-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.subscribe-card .text-box {
    text-align: center;
}

.subscribe-card .text-box p {
    width: 80%;
}

.subscribe-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 250px;
    box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
}

.subscribe-photos {
    display: none;
}

input {
    padding: 30px;
    border: none;
    width: 250px;
}

.company-email {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--regular-text-color);
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 9%;
    gap: 54px;
}

.footer .footer-inner {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.footer-inner .logo a {
    font-size: 32px;
}

.footer-nav ul {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
}

.footer-nav ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--title-color);
}

.reserved-rights {
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: var(--title-color);
}

/* Sticky buttons */
.sticky-items {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 999;
    display: flex;
    gap: 35px;
}

.sticky-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    width: 45px;
    height: 45px;
}

.sticky-item-square {
    background: var(--btn-color);
    border-radius: 8px;
}

.sticky-item-square:hover {
    background: var(--btn-hover-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.sticky-item-circle {
    background: var(--main-background);
    border-radius: 50%;
    border: 2px solid var(--btn-color);
}

.sticky-item-circle:hover {
    background: var(--secondary-background);
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.sticky-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.sticky-img {
    width: 18px;
    height: 18px;
}

/* Media Queries */
@media (min-width: 480px) {
    input {
        width: 100%;
    }

    .subscribe-card {
        width: 350px;
    }

    .new-card {
        width: auto;
    }

    .hero-image-container:nth-of-type(2),
    .hero-image-container:nth-of-type(4) {
        display: flex;
    }
}

/* Tablets */
@media (min-width: 768px) {

    .time-box,
    .timer-container {
        display: flex;
    }

    .reviews-btn-container,
    .review-card:nth-of-type(odd) {
        display: flex;
    }

    .carousel-container {
        height: 400px;
    }

    .hero-section-logos {
        padding: 82px 70px;
    }

    main .btn {
        padding: 20px 44px;
        width: fit-content;
    }


    .advantages-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 50px 30px;
    }

    .deal-gallery {
        display: flex;
    }
}

/* Laptops */
@media (min-width: 1024px) {

    .burger-menu {
        display: none;
    }

    .header-nav {
        position: static;
        height: auto;
        transform: none;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        background-color: transparent;
    }

    .main-menu {
        display: flex;
        font-size: 1rem;
        margin-right: 30px;
    }

    .main-menu li {
        margin: 0 20px;
    }

    .main-menu-registration {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-top: 0;
    }

    .main-menu-registration li {
        margin: 0 20px;
    }

    .header {
        height: auto;
        padding: 70px 0 90px;
    }

    .swiper {
        display: flex;
        align-items: end;
    }

    .progress-galery {
        display: flex;
    }

    .season-wrapper {
        padding: 55px 0px 145px 100px;
        display: grid;
        grid-template-columns: 1fr auto 3fr;
    }

    .season-wrapper img {
        max-width: 100%;
        object-fit: contain;
    }

    .season-wrapper .text-box {
        width: 500px;
        align-items: flex-start;
        text-align: left;
    }

    .deal-gallery {
        align-items: flex-start;
        min-width: 50%;
        scrollbar-width: none;
        position: relative;
    }

    .deal-gallery img {
        object-fit: contain;
    }

    .deal-info-container {
        align-items: flex-start;
    }

    .new-cards-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .instagram-gallery img:nth-of-type(n + 4),
    .new-card:nth-of-type(n+4) {
        display: flex;
    }

    .advantages-wrapper,
    .promotion-wrapper {
        flex-direction: row;
        max-width: 1920px;
        margin: 0 auto;
    }

    .bg-promotion {
        width: 60%;
        object-fit: cover;
        object-position: right;
    }

    .instagram-gallery img {
        width: 14.3%;
    }

    .subscribe {
        padding: 0 5%;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, auto);
        place-items: center;
    }

    .subscribe-photos {
        display: flex;
    }

    .subscribe-card {
        width: auto;
    }

    .footer .footer-inner {
        flex-direction: row;
    }

    .footer-nav ul {
        gap: 38px;
        flex-direction: row;
    }

}

/* Desktop */
@media (min-width: 1200px) {
    main {
        gap: 150px;
    }

    h2 {
        font-size: 46px;
    }

    .hero-section-logos {
        flex-direction: row;
        padding: 82px 0;
    }

    .hero-content {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr;
    }

    .hero-image-container:nth-of-type(1),
    .hero-image-container:nth-of-type(5) {
        display: flex;
        grid-row: 1/4;
    }

    .hero-image-container:nth-of-type(1) {
        grid-column: 1/2;
    }

    .hero-image-container:nth-of-type(5) {
        grid-column: 3/4;
    }

    .hero-image-container:nth-of-type(2),
    .hero-image-container:nth-of-type(3),
    .hero-image-container:nth-of-type(4) {
        grid-column: 2/3;
    }

    .hero-image-container:nth-of-type(2) {
        grid-row: 1/2;
    }

    .hero-image-container:nth-of-type(3) {
        grid-row: 2/3;
    }

    .hero-image-container:nth-of-type(4) {
        grid-row: 3/4;
    }

    .advantage-card {
        flex-direction: row;
        text-align: left;
        width: max-content;
    }

    .advantages-wrapper {
        padding: 72px 0;
        grid-template-columns: repeat(4, auto);
    }

    .carousel {
        width: 700px;
    }

    .review-card {
        flex-direction: row;
        width: 700px;
        padding: 69px 49px;
    }

    .reviewer-photo {
        height: 250px;
    }

    .review-info {
        align-items: flex-start;
        text-align: left;
        gap: 30px;
    }

    .reviews-btn-container {
        margin-top: 0;
    }
}

/* Large screens */
@media (min-width: 1400px) {
    .new-cards-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }
}